################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WpfViewCacheDemo/.vs/WpfViewCacheDemo
/WpfViewCacheDemo/WpfApp1/bin/Debug/net8.0-windows
/WpfViewCacheDemo/WpfApp1/obj
